:root {
    --font-body: "Urbanist", sans-serif;
    --color-light: #F8E7D4;
    --color-dark: #342717;
    --font-sm: 1.2rem;
    --font-lg: clamp(2.5rem, 5vw + 1rem, 6rem); /*Valor mínimo - valor ideal - Valor Maximo*/
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;
    --spacing-xl: 4rem;
    --radius-md: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

img {
    width: 100%;
    display: block;
}

.hero {
    min-height: 100dvh;
    background-image: url(../images/banner0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-md);
}

.hero h1 {
    font-size: var(--font-lg);
    color: var(--color-light);
    width: 50%;
    text-wrap: balance;
}

.btn {
    text-decoration: none;
    color: var(--color-dark);
    background-color: var(--color-light);
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: var(--radius-md);
    font-size: var(--font-sm);
    font-weight: 600;
}

.container {
    width: 90%;
    margin: var(--spacing-xl) auto;
    text-align: center;
}

.titles {
    font-size: var(--font-lg);
    margin-bottom: var(--spacing-md);
    color: var(--color-dark);
}

/*************   grid-01   *************/
.grid-01 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* quantas colunas, tamanho delas*/
    gap: var(--spacing-md); /* espaçamento entre as colunas*/
}

.box-1 {
    position: relative;

    img {
        border-radius: var(--radius-md);
    }
}

.box-1 a {
    position: absolute;
    bottom: var(--spacing-md);
    left: var(--spacing-md);
    z-index: 1; /*Garantir que sempre vai aparecer na primeira camada*/
    background-color: var(--color-dark);
    color: var(--color-light);
}
/************* fim grid-01 *************/

/*************   logos   *************/

.logos {
    overflow: hidden; /*O que ultrapassar o espaço determinado, ele esconde*/
    display: flex;
}

.logos:hover .logos-slide { /*quando passar o mouse no logos:hover, vai mudar o estado para logos-slides*/
    animation-play-state: paused;
}

.logos-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    animation: slide 20s linear infinite; /*Slide = Nome do Keyframe (onde esta a animacao) - Tempo da transicao (quanto vai demorar pra ir de 0 a 100%) - Linear para ir na mesma velocidade - Infinite = quando terminar ele vai recomecar*/
}

.logos-slide img {
    width: auto;
    height: 80px;
    margin-inline: var(--spacing-sm);
    opacity: .6;
    transition: .5s;

    &:hover {
        opacity: 1;
    }
}

/* Criando Animação */
@keyframes slide {
    from{
        transform: translateX(0); /*movimentar pelo eixo X*/
    }
    to{
        transform: translateX(-100%); /*negativo porque ele vai ir para a esquerda - grafico*/
    }
}
/************* fim logos *************/


/*************   grid-02   *************/
.grid-02{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*auto-fit estica os elementos para ocupar toda a linha (ajusta o numero de elementos de acordo com a tela - minmax, nao vai ter menos doq 250px*/
    gap: var(--spacing-md);
}

.box-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
    border: 1px solid var(--color-light);
    padding-bottom: var(--spacing-md);
    border-radius: var(--radius-md);
}

.box-2 img{
    border-top-left-radius: var(--radius-md); /*só arredonda a parte superior esquerda*/
    border-top-right-radius: var(--radius-md); /*só arredonda a parte superior direita*/
}

.box-2 a{ /*mudar a cor do botao*/
    background-color: var(--color-dark);
    color: var(--color-light);
}
/************* fim grid-02 *************/


/*************   grid-03   *************/
.grid-03 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px; /*define o tamanho das linhas que são geradas automaticamente no grid*/
    gap: var(--spacing-md);
}

.box-03 {
    border-radius: var(--radius-md); /*podia colocar isso direto na imagem que daria certo (mais facil), só aqui por exemplo*/
    overflow: hidden; /*oculta tudo aquilo que passar da div*/
}

.grid-03 img{
    height: 100%;
    object-fit: cover; /*melhora o corte/qualidade da imagem*/
}

/*quando usar span LEMBRAR DELE NO RESPONSIVO, SENÃO QUEBRA O SEU LAYOUT*/
.col-2 {grid-column: span 2;} /*col-2 ta no/s elemento/s certo/s la no html*/
.row-2 {grid-row: span 2;} /*row-2 ta no/s elemento/s certo/s la no html*/
/************* fim grid-03 *************/


/*************   responsivo   *************/
@media( width <= 1024px) { /*em telas com 1024px ou menor a largura (width) vai ficar em 80%*/
    .hero h1 {
        width: 80%;
    }

    .grid-01 {
        grid-template-columns: 1fr 1fr;
    }

    .box-1:last-child {
        grid-column: span;
    }

    .grid-03 {
        grid-template-columns: 1fr;
        grid-auto-rows: auto; /*nao vai ter mais só 300px, ele vai pegar o tamanho real das imagens*/
    }

    .col-2{grid-column: span 1;} /*para deixar uma só coluna em telas menores*/
    .row-2{grid-row: span 1;}  /*para deixar uma só linha em telas menores*/
}

@media(width <= 680px){
    .grid-01 {
        grid-template-columns: 1fr;
    }

    .box-1:last-child {
        grid-column: span 1; /*se nao colocar a imagem vai sumir, outra coisa vai sobrepor*/
    }
}


/************* fim responsivo *************/